@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }

  body {
    @apply bg-white text-navy-900;
  }
}

@layer utilities {
    .glass {
        @apply bg-white/10 backdrop-blur-md border border-white/20;
    }
}
